

:root {
    --primary-color: rgb(196, 128, 196);
    --secondary-color: hsla(300, 49%, 61%, 0.81);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#menu-container {
    background-color: rgb(196, 128, 196);
    display: flex;
    justify-content: center;
    height: 150px;
}

#menu-container #menu {
    background-color: hsla(300, 49%, 61%, 0.81);
    list-style-type: none;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#menu-container #menu .menu-item {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

#menu-container #menu .menu-item li {
    color: beige;
}

#bienvenue-accueil {
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
}

main {
    flex: 100vh;
}



.image-accueil{
    display: flex;
    width: 70vh;
    height: auto;
    margin: auto;
}

h2 {
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
}


.spaced-paragraph{
    margin-bottom: 30px;
    font-size: 20px;
}

ol {
    list-style-type: disc; /* Définit le style des puces (options : circle, square, none, etc.) */
    padding-left: 70px; /* Indentation de la liste */
    margin: 20px 0; /* Espacement autour de la liste */
}

li {
    color: #333; /* Couleur du texte des éléments */
    font-size: 20px; /* Taille de la police */
    margin-bottom: 10px; /* Espacement entre chaque élément */
}

.footer-container {
    height: 70px;
    background-color: blueviolet;
}

.footer-container #bas-de-page {
    display: flex;
    justify-content: space-around;
}

.footer-container #bas-de-page .menu-item {
    text-decoration: none;
    text-align: center;
    font-size: 25px;
} 
